.Counter {
  border-radius: var(--rounded-full);
  gap: 0.2rem;

  img {
    object-fit: cover;
    height: 2.5rem;
    width: 2.5rem;
  }

  &__number {
    line-height: 15px;
    font-weight: 600;
    font-size: 1.2rem;
  }

  &__operator {
    line-height: 16px;
    font-weight: 600;
    background-color: var(--color-primary-900);
    color: white;
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
    text-align: center;
    margin: 0;
    cursor: pointer;
    border-radius: var(--rounded-full);
  }
}
