.button {
  &--slate {
    padding: 0.6rem 1rem;
    max-height: 1.6rem;
    background-color: var(--color-slate-700);
    border-radius: var(--rounded-m);
    color: var(--color-white);
    border: 1px solid transparent;
    white-space: nowrap;
    font-weight: 600;
    overflow: hidden;

    &:disabled {
      cursor: not-allowed;
      background-color: var(--color-grey-300);
    }
    &:hover {
      opacity: 0.9;
      transition: var(--transition-1);
    }
  }

  &--secondary {
    padding: 0.6rem 1rem;
    max-height: 1.6rem;
    border: 1px solid var(--color-slate-700);
    border-radius: var(--rounded-m);
    color: var(--color-slate-700);
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      background-color: var(--color-slate-700);
      transition: var(--transition-1);
      color: var(--color-white);
    }
  }
}
