.timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8rem;
  max-width: 95%;
  background-color: var(--color-primary-100);
  color: white;
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
}

.antd-timer {
  width: 4rem;
  input {
    font-size: 1.2rem !important;
  }
}
