@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@400;700&display=swap');

// CSS vars
:root {
  // Font
  --font-text: 'Roboto', sans-serif;
  --font-title: 'Anton', sans-serif;

  --font-xs: 0.6rem;
  --font-s: 0.8rem;
  --font-m: 0.9rem;
  --font-l: 1.5rem;
  --font-xl: 1.8rem;
  --font-xxl: 2.3rem;

  .f-b {
    font-weight: 600;
  }

  // Grey
  --color-grey-100: #fafafa;
  --color-grey-300: #e1e1e1;
  --color-grey-400: #7d7d7d;
  --color-grey-500: #4e4e4e;
  --color-grey-700: #2c2c2c;
  --color-grey-900: #1b1b1b;

  // Slate
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;

  // Blue
  --color-blue-50: #e0e6f0;
  --color-blue-100: #b9d6ff;
  --color-blue-200: #90beff;
  --color-blue-300: #68a7ff;
  --color-blue-400: #3f8fff;
  --color-blue-500: #1677ff;
  --color-blue-600: #005cdd;
  --color-blue-700: #0045a5;
  --color-blue-800: #002d6d;
  --color-blue-900: #001635;

  // Red
  --color-red-50: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;

  // Orange
  --color-orange-50: #fffbf3;
  --color-orange-500: #ffbe33;
  --color-orange-700: #9c5e00;

  // Green
  --color-green-50: #dcfef0;
  --color-green-100: #b4fddf;
  --color-green-200: #f1faf1;
  --color-green-300: #ddf0dd;
  --color-green-400: #9ad19a;
  --color-green-500: #7bc97b;
  --color-green-600: #45ac45;
  --color-green-700: #02502f;
  --color-green-800: #013721;
  --color-green-900: #01190f;

  // primary
  --color-primary-50: #ffe8ec;
  --color-primary-100: #ec5a7c;
  --color-primary-200: #e65680;
  --color-primary-300: #e05383;
  --color-primary-400: #d94f86;
  --color-primary-500: #d24c89;
  --color-primary-600: #cb4a8b;
  --color-primary-700: #c3488e;
  --color-primary-800: #bb4690;
  --color-primary-900: #b24592;

  // Neutral
  --color-white: #fff;
  --color-black: #000;

  // Box Shadow
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);

  // Spacing
  --spacing-0: 0rem;
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 1.5rem;
  --spacing-4: 2rem;
  --spacing-5: 3rem;

  // Border Radius
  --rounded-s: 3px;
  --rounded-m: 5px;
  --rounded-l: 15px;
  --rounded-xl: 20px;
  --rounded-full: 9999px;
  --rounded-right: 0 99px 99px 0;
  --rounded-left: 99px 0 0 99px;

  .br-s {
    border-radius: var(--rounded-s);
  }
  .br-m {
    border-radius: var(--rounded-m);
  }
  .br-l {
    border-radius: var(--rounded-l);
  }
  .br-xl {
    border-radius: var(--rounded-xl);
  }
  .br-full {
    border-radius: var(--rounded-full);
  }

  // Transitions
  --transition-all-1: all 0.3s;
  --transition-all-2: all 0.5s;
  --transition-all-3: all 0.7s;
  --transition-all-4: all 0.7s;
  --transition-bezier: cubic-bezier(0.48, 1.1, 0.8, 1.15);
}

// SASS vars
$rems: (
  0: 0,
  '05': 0.5rem,
  1: 1rem,
  2: 2rem,
  3: 3rem,
  4: 4rem,
  5: 5rem
) !default;
$sides: (
  t: top,
  r: right,
  b: bottom,
  l: left,
  y: top-bottom,
  x: left-right
) !default;
$fonts: (
  xs: var(--font-s),
  s: var(--font-s),
  m: var(--font-m),
  l: var(--font-l),
  xl: var(--font-xl),
  xxl: var(--font-xxl)
) !default;

// Gaps
@each $key, $rem in $rems {
  .gap-#{$key} {
    gap: #{$rem} !important;
  }
}

// Font sizes
@each $key, $font in $fonts {
  .f-#{$key} {
    font-size: #{$font} !important;
  }
}

// Margins & Paddings
@each $key, $rem in $rems {
  // Margin
  .m-#{$key} {
    margin: #{$rem} !important;
  }
  // Margin $sides
  @each $keySide, $side in $sides {
    .m#{$keySide}-#{$key} {
      @if $keySide == y {
        margin-bottom: #{$rem} !important;
        margin-top: #{$rem} !important;
      } @else if$keySide == x {
        margin-left: #{$rem} !important;
        margin-right: #{$rem} !important;
      } @else {
        margin-#{$side}: #{$rem} !important;
      }
    }
  }

  // Padding
  .p-#{$key} {
    padding: #{$rem};
  }
  // Padding $sides
  @each $keySide, $side in $sides {
    .p#{$keySide}-#{$key} {
      @if $keySide == y {
        padding-bottom: #{$rem};
        padding-top: #{$rem};
      } @else if $keySide == x {
        padding-left: #{$rem};
        padding-right: #{$rem};
      } @else {
        padding-#{$side}: #{$rem};
      }
    }
  }
}
