.ScoreTable {
  width: 95%;
  max-width: 40rem;
  overflow-x: auto;

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      padding: 0.5rem;
      border-bottom: 1px solid var(--color-grey-300);
    }
    td {
      padding: 0.1rem;
      text-align: center;
    }
  }
  &__turn-column {
    width: 2.5rem;
    max-width: 2.5rem;
    background-color: var(--color-primary-500);
    color: white;
    font-weight: 600;
  }
  &__column {
    background-color: var(--color-grey-100);
  }
  &__total-column {
    border-top: 1px solid var(--color-grey-300);
    background-color: var(--color-grey-100);
  }
  &__best-player {
    background-color: var(--color-primary-100);
    color: white;
    font-weight: 600;
    margin: 0;
  }
}
