.Contree {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  gap: 2rem;

  form {
    max-width: 30rem;
  }
  select {
    background-color: var(--color-primary-500);
    color: white;
    border-radius: var(--rounded-full);
    outline: 1px solid var(--color-primary-500);
    cursor: pointer;
    padding: 0.25rem;
  }

  .toggle-buttons {
    overflow: hidden;
    width: fit-content;
    border-radius: var(--rounded-full);
    color: white;
    background-color: var(--color-primary-500);
  }
  .toggle-button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: var(--font-xs);
    font-weight: 600;

    &--selected,
    &:hover {
      background-color: var(--color-primary-100);
    }
    &:not(:last-child) {
      border-right: 1px solid var(--color-grey-100);
    }
    &:last-child {
      padding-right: 1.2rem;
    }
    &:first-child {
      padding-left: 1.2rem;
    }
  }
}
