.WinCounter {
  &__tabs {
    width: 90%;
    max-width: 20rem;
  }
  &__tab {
    background-color: #fbf2e0;

    img {
      width: 2rem;
      object-fit: contain;
    }

    button {
      border-radius: 0 0 3px 3px;
    }
  }
}
